<!DOCTYPE html>
<html>
  <head>
    <title>Chat SGR</title>
    <link rel="stylesheet" href="assets/css/styleChat.css">
  </head>
  <div>
	<div class="chat">
    	<input tabindex="text" class="chat-name"
        placeholder="Enter your name">
        <div class="chat-messages">
        <div class="chat-message">

        </div>

        </div>
        <textarea class="chat-textarea" placeholder="Type your message"></textarea>
        <div class="chat-status">Status: <span>Idle</span></div>
    </div>
  </body>
</html>
