<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/styles/styleChat.css">
    <title>Chat Messaging</title>
  </head>
  <body>
    <div class="chat">
      <input type="text" class="chat-name" placeholder="Enter your name">

      <div class="chat-messages">
				This is a basic template of the Chat service currently under construction.
				This chat will facilitate communication within you chapter.
				Currently working on 1-1 communication.<br><br>
				<b>Sample:</b><br><br>
					<b>Antonio:</b><br> Hello Purnell, I'm currently working on the development of a chat service.<br><br>
					<b>Purnell:</b><br> Hey Antonio, that sounds great, let me know if you need any help. Remember we want to have a chat session where everyone can communicate within a chapter.<br><br>
					<b>Antonio:</b><br> Thanks for the heads up, I am also going to style it so it looks more personalized with their sorority colors<br><br>
			</div>
      <textarea placeholder="Type your message"></textarea>
        <div class="chat-status">Status:<span>Idle</span></div>
      </div>
  </body>
</html>
