#calendar{
	border-radius: 5px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 550px;
	overflow-y: scroll; 
}

.event{
	
	border-radius: 10px;
	height: 100px;
	background: #FFF;
	margin-bottom: 10px;
}

#event-heading{
	margin-left: 5px;
}