main 					{
	padding-top:30px;
}

/* HEADER
===================== */
header .navbar 		{
	border-radius:0;
	list-style: none;
}

header li{
	padding-top: 5px;
}

/* FOOTER
===================== */
footer{
	text-align: center;
}

footer li{

	padding-top: 5px;
	padding-bottom: 0px;
}
/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }
	to 	{ -moz-transform:rotate(360deg); }
}

/* MODIFICATION OF BOOTSTRAP TEMPLATE */
/*http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3*/
.navbar-default {
    background-color: #4169E1;
    border-color: #E7E7E7;
}

/* Title */
.navbar-default .navbar-brand {
    color: gold;
}

.ProfileHeader{
    text-align: center;
}
.img-circle {
    border-radius: 50%;
}


