<!-- 

Author: Purnell Jones
File: index.html
Descripton: Uses an HTML form with id tags elements which are accessed to modify corresponding tags.
Tutorial Author: Smitha Milli
Tutorial Link: https://www.youtube.com/watch?v=pNKNYLv2BpQ
-->

<!-- Form for Username-->
<div id="nickWrap">
	<p>Enter a username</p>
	<p id="nickError"></p>
	<form id="setNick">
		<input size="35" id="nickname">
		<input type="submit">
	</form>
</div>

<!-- Chat window -->
<div id="contentWrap">
	<div id="chatWrap">
		<div id="chat"></div>
		<form id ="send-message">
			<input size="35" id="message"/>
			<input type="submit"/>
		</form>
	</div>
	<div id="users"></div>
</div>
