<div class="page-header">
	<h1>
		Users
		<a href="/users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New User
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="admin.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Users...</p>
</div>

<table class="table table-bordered table-striped" ng-show="admin.users">
	<thead>
		<tr>
			<th class="col-sm-2">Username</th>
			<th class="col-sm-2">Password</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in admin.users">
			<td>{{ person.username }}</td>
			<td>(hidden)</td>
			<td>
				<a ng-href="/users/view/{{ person._id }}" class="btn btn-info">V</a>
				<a ng-href="/users/edit/{{ person._id }}" class="btn btn-danger">E</a>
				<a href="#" ng-click="admin.delete(person._id)" class="btn btn-primary">D</a>
			</td>
		</tr>
	</tbody>
</table>
