<div class ="container">
    <h1>User Sign Up</h1>
    <div data-ng-controller ="userSignUpController as su" layout-align="center center">
        <form name ="signUpForm" data-ng-submit="su.sendMail()">

            <div class="form-group">
                    <label><h3>Full Name</h3></label>
                    <input type="text" class="form-control" data-ng-model="su.signUpName">
            </div>

            <div class="form-group">
                <label><h3>Email</h3></label>
                <input type="email" class="form-control" data-ng-model="su.signUpEmail">
            </div>

            
            
            <div class ="form-group">
                <label><h3>Password</h3></label>
                <input type="text" class ="form-control" data-ng-model="su.signUpPassword">
            </div>

            <center>
                <button type="submit" class="btn btn-success  ">Submit
                </button>
            </center>
        </form>
    </div>
</div>