<div ng-show="profile.processing" class="loading">Loading&#8230;</div>

<div class="page-header">
	<h1 ng-if="profile.type == 'create'">Create User</h1>
	<h1 ng-if="profile.type == 'edit'">Edit User</h1>
	<h1 ng-if="profile.type == 'view'">View User</h1>
</div>

<div ng-if="profile.type =='view'" class="table-responsive">
	<table class="table table-bordered table-striped">
		<tbody>
			<tr>
				<th>Image</th>
				<td><img ng-src="{{image_source}}" height=200px width=200px></td>
			</tr>
			<tr>
				<th>_id</th>
				<td>{{profile.userData._id}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{profile.userData.name}}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>{{profile.userData.username}}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>(hidden)</td>
			</tr>
			<tr>
				<th>Admin</th>
				<td>{{profile.userData.admin}}</td>
			</tr>
		</tbody>
	</table>
</div>


<form ng-if="profile.type == 'edit' || profile.type == 'create'" class="form-horizontal" ng-submit="profile.saveUser()">


	<!--
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<div class="alert alert-info" ng-show="profile.dataMessage">{{ profile.dataMessage }}</div>
			<div class="alert alert-info" ng-show="profile.pictureMessage">{{ profile.pictureMessage }}</div>
		</div>
	</div>-->

	<div class="form-group">
		<label class="col-sm-2 control-label">Picture</label>
		<div class="col-sm-6">
			<img ng-src="{{image_source}}" height=200px width=200px>
			<input type="file" class="ng-show" onchange="angular.element(this).scope().setFile(this)" accept="image/*" file-directive="myFile">
		</div>
	</div>


	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="profile.userData.name" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Username</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="profile.userData.username" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Password</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" ng-model="profile.userData.password">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Admin</label>
		<div class="col-sm-6">
			<input type="checkbox" ng-model="profile.userData.admin">
		</div>
	</div>

	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="profile.type == 'create'">Create User</button>
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="profile.type == 'edit'">Update User</button>
	</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="profile.message">
	<div class="col-sm-6 col-sm-offset-2">

		<div class="alert alert-info">
			{{ profile.message }}
		</div>

	</div>
</div>
