<h1>Sigma Gamma Rho Regional Chat</h1>
<div>
	<div class="col">
		<h3>Messages</h3>
		<div class="overflowable">
			
			<div class="msg-container" ng-repeat="message in messages">
				<!-- Profile Image -->
				<div class="profile-img">
					<img src="https://celectcdn.s3.amazonaws.com/images/0029/3466/SGRho-Official_Color_ShieldUPDATED_1_.png" class="profile-image">
				</div>
				<!-- -->
				<div class="profile-msg">
					<p ng-class="{alert: message.user == &quot;chatroom&quot;}">{{message.user}}: {{message.text}}</p>
				</div>
			<div class="clr"></div>
			<hr>

			</div>
		</div>
	</div>
	
	<div class="col">
		<h3>Users</h3>
		<div class="overflowable">
			<p ng-repeat="user in users">{{user}}</p>
		</div>
	</div>
	<!-- Message Form -->
	<div class="clr">
		<form ng-submit="sendMessage()">Message: 
			<input size="60" ng-model="message"/>
			<input type="submit" value="Send"/>
		</form>
	</div>

	<div class="clr">
		<h3>Change your name</h3>
		<p>Your current user name is {{name}}</p>
		<form ng-submit="changeName()">
			<input ng-model="newName"/>
			<input type="submit" value="Change Name"/>
		</form>
	</div>
</div>