<div class="jumbotron text-center">
	<h1>Profile Page</h1>
        <h2>{{user.userData.name}}'s Page</h2>
</div>
<body>

<h2>Profile Pic</h2>
    
<img src="ProfilePic.jpg" alt="ProfilePic" style="width:304px;height:228px;">
    <form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/photo"
     method    =  "post"
>
<input type="file" name="userPhoto" />
<input type="submit" value="Upload Image" name="submit">
</form>
<h3>------------------------</h3>
Who are you?
<textarea rows="4" cols="50" placeholder="Describe yourself here..."></textarea>
</body>




