
<div class = "ProfileHeader">   
    <h1>{{user.userData.name}}'s Page</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLNHxkX6Uy4nJ-3nL3Ryx09aPAqha-PwKHqdrPNGTjeURgCoChxVukXrw" alt="ProfilePic" style="width:304px;height:228px;">
    <form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/photo"
     method    =  "post"
          >
        <input type="file" name="userPhoto" />
        <input type="submit" value="Upload Image" name="submit">
    </form>
Chapter Location: Blah College
</div>
<hr/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

About me
<textarea rows="4" cols="50" placeholder="Describe yourself here..."></textarea>
</body>




